
#dirs
data/input/hms-harmful-brain-activity-classification/*
data/output/*
logs/*

#files
*__pycache__*
*.pt

# Except for the specific files
!data/input/hms-harmful-brain-activity-classification/folds1.csv
!data/input/hms-harmful-brain-activity-classification/folds2.csv

# Except for the .gitkeep files
!data/input/.gitkeep
!data/output/.gitkeep
!logs/.gitkeep
